Source: tea
Section: devel
Priority: optional
Maintainer: LvHang <850609180@qq.com>
Build-Depends: debhelper (>= 12), qt5-default, libqt5opengl5-dev
Standards-Version: 4.5.1
Package: tea
Architecture: amd64
Depends: libqt5core5a, libqt5gui5, libqt5opengl5
Description: Just A Test
Version:0.1
